@media (max-width: 600px) {
    nav {
        h1 {
            display: none;
            margin: 0 auto;
        }

        .container {
            justify-content: center;
        }
    }
}
.hidden-important{
    display: none !important;
}